<!-- Contact Form -->                            
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    
                    <form class="form contact-form" id="contact_form" autocomplete="off">
                        <div class="clearfix">
                            
                            <div class="cf-left-col">
                                
                                <!-- First Name -->
                                <div class="form-group">
                                
                                    <input type="text" name="first-name" id="first-name" class="input-lg form-control" placeholder="First name" pattern=".{3,100}" required>
                                </div>

                                <!-- Last Name -->
                                <div class="form-group">
                                    <input type="text" name="last-name" id="last-name" class="input-lg form-control" placeholder="Last name" pattern=".{3,100}" required>
                                </div>
                                
                                <!-- Email -->
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="input-lg form-control" placeholder="Email" pattern=".{5,100}" required>
                                </div>

                                <!-- Company -->
                                <div class="form-group">
                                    <input type="text" name="company" id="company" class="input-lg form-control" placeholder="Company" pattern=".{3,100}" required>
                                </div>
                                
                            </div>
                            
                            <div class="cf-right-col">
                                
                                <!-- Message -->
                                <div class="form-group">                                            
                                    <textarea name="message" id="message" class="input-lg form-control" style="height: 120px;" placeholder="Message"></textarea>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                        <div class="clearfix">
                            
                            <div class="cf-left-col">
                                
                                <!-- Inform Tip -->                                        
                                <div class="form-tip pt-20">
                                    <i class="fa fa-info-circle"></i> All the fields are required
                                </div>
                                
                            </div>
                            
                            <div class="cf-right-col">
                                
                                <!-- Send Button -->
                                <div class="align-right pt-10">
                                    <button class="submit_btn btn btn-mod btn-color btn-large" id="submit_btn">Send Message</button>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                        
                        <div id="result"></div>
                    </form>
                    
                </div>
            </div>
            <!-- End Contact Form -->