<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confimation email</title>
</head>
<body>
  <h1><%=@applicant.firstname%>, thank you for registering for Meet and Multiply.</h1>
  <p>We have received your application and we will be in touch soon.</p>
  <p>Have a great day!</p>
  
</body>
</html>