<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confimation email</title>
</head>
<body>
  <p>Dear <%=@applicant.firstname%>,</p>
  <p>Thank you for registering for Meet & Multiply. We have received your application and we will be assessing it it shortly. We are accepting applicants on a rolling basis until June 12, 2015. You will hear from us at the latest by June 16. </p>
  <p>If you have any questions about the event, please feel free to contact me directly.</p>
  <p>Best wishes,</p>
  <p>Tendai Pasipanodya</p>
  
</body>
</html>
