<p>Dear <%= @applicant.firstname %>, </p>

<p>Thank you for applying to Meet & Multiply. </p>

<p>We found your profile very interesting, but we would to learn more about you before making a final decision.</p>
<p>As you know, we are looking for entrepreneurs or companies who could potentially replicate or adopt one of the business models we have identified who are interested in expanding to Latin America. Based on their experience, <%= @originator.title %> has identified certain characteristics for what type of potential partners they are interested in meeting. </p>  
<p>Please review the section called “Growth Opportunity and the section called “What we are looking for in potential partners” on the <%= link_to @originator.title, originator_url(@originator) %> page and answer the following questions:</p>

<ol>
  <li>Please explain how your experience and knowledge corresponds to what the Originator is looking for in potential partners</li>
  <li>Explain how you see yourself or your company acting on this growth opportunity. </li>
</ol>

<p>Please send us your response as soon as possible, and no later than June 19th. </p>

<p>Regards, </p>

<p>Sharon Kennedy<br>
Meet & Multiply</p>
