<p>Dear <%= @applicant.firstname %>, </p>

<p>Thank you for applying to Meet & Multiply. </p>

<p>Despite your experience in social business, unfortunately your profile doesn’t quite fit what <%= @applicant.bmodel %> is looking for in potential partners. If you’re interested, we will be publishing updates and outcomes from the event on Twitter with the hashtag <a href="https://twitter.com/search?q=%23meetandmultiply">#meetandmultiply</a>. </p>

<p>Best wishes,</p>

<p>The Meet & Multiply team</p>
