<p>Dear <%= @applicant.firstname %>, </p>

<p>I haven't heard back from you yet about your participation at Meet & Mulitply. Did you receive the acceptance email we sent you? </p>

<p>We would love to have you at the event. <strong>Please confirm your particicpation today if you plan to come.</strong> </p>

<p>We will also need a photo of you and a short bio. This should be no more than 250 words and it should focus on how you fit the Adopter profile for <%= @originator.title %>. Please review the section called <%= link_to "What we are looking for in potential partners", originator_url(@originator) %> and take that into consideration for your bio. The photo and bio will be used in the event programme, which will be distributed to the event attendees. <strong>If you want to be in the programme, send me your bio and photo by the end of the day today.</strong></p>

<p>Could you send me your phone number in case we need to follow up on any information with you? </p>

<p>Feel free to contact me if you have any follow-up questions. We look forward to seeing you on June 29th. </p>

<p>Regards, </p>

<p>Sharon Kennedy<br>
Meet & Multiply</p>
