
<!-- Page Wrap -->
<div class="page" id="top">
    
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-90 parallax-2" data-background="images/full-width-images/section-bg-2.jpg">
        <div class="js-height-full">
            
            <!-- Hero Content -->
            <div class="home-content container">
                <div class="home-text">
                    <div class="hs-cont">
                        
                        <!-- Headings -->
                        
                            
                        <div class="hs-line-9 mb-10">
                            422
                        </div>
                        
                        <div class="hs-line-4 mb-40">
                            There was an internal server error. Please try again.
                        </div>
                        
                        <div class="local-scroll">
                            <a href="/" class="btn btn-mod btn-w btn-medium btn-circle"><i class="fa fa-angle-left"></i> Back To Home Page</a>
                        </div>
                            
                        
                        <!-- End Headings -->
                        
                    </div>
                </div>
            </div>
            <!-- End Hero Content -->
            
        </div>
    </section>
    <!-- End Home Section -->
    
    
    <!-- Navigation panel -->
    <nav class="main-nav dark transparent stick-fixed">
        <div class="full-wrapper relative clearfix">
            <!-- Logo ( * your text or image into link tag *) -->
            <div class="nav-logo-wrap local-scroll">
                <a href="/" class="logo">
                    <img src="/meetandmultiply-logo.png" alt="Meet & Multiply" />
                </a>
            </div>
            <div class="mobile-nav">
                <i class="fa fa-bars"></i>
            </div>
            <!-- Main Menu -->
            <div class="inner-nav desktop-nav">
                <ul class="clearlist scroll-nav local-scroll">
                    <li class="active"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/#contact-us"><i class="fa fa-pencil-square-o"></i> Contact us</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navigation panel -->
    
                
    <!-- Foter -->
    <footer class="small-section bg-dark footer pb-60">
        <div class="container">
            
            <!-- Social Links -->
            <div class="footer-social-links mb-60 mb-xs-40">
                <a href="https://www.facebook.com/pages/Endeva/234763126582163" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/_Endeva" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/grp/home?gid=4143187" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <!-- End Social Links -->  
            
            <!-- Footer Text -->
            <div class="footer-text">
                
                <!-- Copyright -->
                <div class="footer-copy">
                    <a href="http://www.endeva.org" target="_blank">&copy; Endeva 2015</a>
                </div>
                <!-- End Copyright -->
                
                <div class="footer-made">
                    <a href="http://www.endeva.org" target="_blank">www.endeva.org</a>
                </div>
                
            </div>
            <!-- End Footer Text --> 
            
         </div>
         
         
         <!-- Top Link -->
         <div class="local-scroll">
             <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
         </div>
         <!-- End Top Link -->
         
    </footer>
    <!-- End Foter -->


</div>
<!-- End Page Wrap -->

