
<!-- Page Wrap -->
<div class="page" id="top">
    
    
    <!-- Navigation panel -->
    <nav class="main-nav js-stick">
        <div class="full-wrapper relative clearfix">
            <!-- Logo ( * your text or image into link tag *) -->
            <div class="nav-logo-wrap local-scroll">
                <a href="#top" class="logo">
                    <img src="/meetandmultiply-logo.png" alt="Meet and Multiply">
                </a>
            </div>
            <div class="mobile-nav">
                <i class="fa fa-bars"></i>
            </div>
                <!-- Main Menu -->
                <div class="inner-nav desktop-nav">
                    <ul class="clearlist scroll-nav local-scroll">
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="/#originators">Originators</a></li>
                        <li><a href="/#call-to-action">Adopters</a></li>
                        <li><a href="/#partners">Partners</a></li>
                        <li><a href="/#contact-us">Contact us</a></li>
                        <li><a href="/#contact">Event Info</a></li>
                        <li>
                        <li><a href="/faq">FAQ</a></li>
                        <li>
                            <a href="/#apply"><span class="btn btn-mod btn-color btn-circle">Apply</span></a>
                        </li>
                       
                    </ul>
                </div>
                <!-- End Main Menu -->
        </div>
    </nav>
    <!-- End Navigation panel -->
    
    <!-- Head Section -->
    <section class="page-section bg-dark-alfa-30 ekutir" >
        <div class="relative container align-left">
            
            <div class="row">
                
                <div class="col-md-8">
                    <h1 class="section-heading mb-10 mb-xs-0">FAQ</h1>
                    <div class="hs-line-4 uppercase">
                        Frequently Asked Questions
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    <!-- End Head Section -->
    
    
    <!-- Section -->
    <section class="page-section">
        <div class="container relative">
            
            <div class="row section-text">
                <div class="col-md-8 col-md-offset-2">
                    
                    <!-- Accordion -->
                    <dl class="accordion">

                        <dt>
                            <a href="">Who can apply?</a>
                        </dt>
                        <dd>
                             Any one interested in replicating one of these businesses in Latin America and the Carribbean.
                        </dd>
                        
                        <dt>
                            <a href="">What do I get if I am selected as a Meet and Multiply participants?</a>
                        </dt>
                        <dd>
                             You get to explore the potential of bringing an idea to your country. Specifically: 
                             <ul>
                                 <li>you will  be part of a small circle of adopters that get to meet the founder or a leader in the originator company</li>
                                 <li>spend half a day exploring and understanding the model</li>
                                 <li>meet potential partners who can support you if you decide to take this idea forward</li>
                             </ul>
                        </dd>

                        <dt>
                            <a href="">Why is Meet & Multiply only offered in English?</a>
                        </dt>
                        <dd>
                            All of the Originator companies come from Asia, so in order to be able to have meaningful conversations between the event participants the working language will be English.  
                        </dd>
                        
                        <dt>
                            <a href="">Do I have to cover my own travel and conference costs?</a>
                        </dt>
                        <dd>
                             The event itself is free, but you will need to cover your travel costs and accommodation costs. In addition, if you wish to attend the Base Forum conference, you will need to register and pay the conference fee.
                        </dd>
                        

                        <dt>
                            <a href="">How can we become a partner organization?</a>
                        </dt>
                        <dd>
                             Additional partners are welcome. We plan on repeating this event in more geographic locations. Please send us an email at <a href="mailto:t.pasipanodya@endeva.org">t.pasipanodya@endeva.org</a>.
                        </dd>

                        <dt>
                            <a href="">Is this a job offer?</a>
                        </dt>
                        <dd>
                             No, we are offering you a chance to explore a business opportunity. We provide the space for adopters to meet with an originator and introduce both to partners who could support them as they replicate the model. This is an early stage exploratory meeting. What happens next will be in the hands of the originator and the adopters. They will ultimately drive things forward and Meet and Multiply will aim to support those ventures that are promising through our partner network.
                        </dd>
                        
                    </dl>
                    <!-- End Accordion -->
                    
                </div>
            </div>
            
        </div>
    </section>
    <!-- End Section -->
    
    
    <!-- Foter -->
    <footer class="small-section bg-dark footer pb-60">
        <div class="container">
            
            <!-- Social Links -->
            <div class="footer-social-links mb-60 mb-xs-40">
                <a href="https://www.facebook.com/pages/Endeva/234763126582163" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/_Endeva" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/grp/home?gid=4143187" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <!-- End Social Links -->  
            
            <!-- Footer Text -->
            <div class="footer-text">
                
                <!-- Copyright -->
                <div class="footer-copy">
                    <a href="http://www.endeva.org" target="_blank">&copy; Endeva 2015</a>
                </div>
                <!-- End Copyright -->
                
                <div class="footer-made">
                    <a href="http://www.endeva.org" target="_blank">www.endeva.org</a>
                </div>
                
            </div>
            <!-- End Footer Text --> 
            
         </div>
         
         
         <!-- Top Link -->
         <div class="local-scroll">
             <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
         </div>
         <!-- End Top Link -->
         
    </footer>
    <!-- End Foter -->


</div>
<!-- End Page Wrap -->
