
<!-- Page Wrap -->
<div class="page" id="top">
    
    <!-- Navigation panel -->
    <nav class="main-nav js-stick">
        <div class="full-wrapper relative clearfix">
            <!-- Logo ( * your text or image into link tag *) -->
            <div class="nav-logo-wrap local-scroll">
                <a href="#top" class="logo">
                    <img src="meetandmultiply-logo.png" alt="Meet and Multiply">
                </a>
            </div>
            <div class="mobile-nav">
                <i class="fa fa-bars"></i>
            </div>
                <!-- Main Menu -->
                <div class="inner-nav desktop-nav">
                    <ul class="clearlist scroll-nav local-scroll">
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#originators">Originators</a></li>
                        <li><a href="#call-to-action">Adopters</a></li>
                        <li><a href="#partners">Partners</a></li>
                        <li><a href="#contact-us">Contact us</a></li>
                        <li><a href="#contact">Event Info</a></li>
                        <li>
                            <a href="#apply"><span class="btn btn-mod btn-color btn-circle">Apply</span></a>
                        </li>
                       
                    </ul>
                </div>
                <!-- End Main Menu -->
        </div>
    </nav>
    <!-- End Navigation panel -->
    
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 parallax-2 fixed-height-small"  id="home">
        <div class="js-height-parent container">
            
            <!-- Hero Content -->
            <div class="home-content container">
                <div class="home-text">
                    
                    <h1 class="hs-line-2 mt-0 mb-40 mb-xs-20">
                        Meet & Multiply
                    </h1>
                    
                    <h2 class="hs-line-11 mb-20 mb-xs-10">
                        Fostering the Replication of Inclusive businesses
                    </h2>
                    
                    <div class="local-scroll">
                        <a href="#overview" class="btn btn-mod btn-large btn-w hidden-xs">Learn more</a>
                        <span class="hidden-xs">&nbsp;</span>
                        <a href="#apply" class="btn btn-mod btn-large btn-color" target="_blank">Apply</a>
                    </div>
                    
                </div>
            </div>
            <!-- End Hero Content -->
            
        </div>
    </section>
    <!-- End Home Section -->
    
    
    <!-- Promo Section -->
    <section class="split-section bg-gray" id="overview">
        <div class="clearfix relative">
            
            <!-- Section Headings -->
            <div class="split-section-headings left">
                <div class="ssh-table">
                    <div class="ssh-cell page-section bg-scroll intro-section" data-background="adopters.jpg"></div>
                </div>
            </div>
            <!-- End Section Headings -->
            
            <!-- Section Content -->
            <div class="split-section-content right small-section bg-gray-lighter">
                
                <div class="split-section-wrapper">
                    
                    <h1 class="section-title">A chance to meet potential business partners</h1>
                    
                    <h2 class="section-heading uppercase strong">Bringing together originators and adopters</h2>
                    
                    <div class="section-text mb-60">
                        <p><strong>Originators </strong>are inclusive businesses with successful and replicable models. They seek partners to adopt or replicate their business model.</p>
                        <p> <strong>Adopters </strong>are entrepreneurs or businesses with an interest in bringing proven inclusive businesses to their region. </p>
                        <p><strong>Meet & Multiply</strong> brings both together to explore how to successfully bring in and adapt the originator business models to Latin America.  </p>
                        <p>This invitation only event will:
                        <ul>
                            <li>feature a well-curated participant list </li>
                            <li>facilitate the brokering of partnerships between companies</li>
                            <li>create links to valuable ecosystem partners that can help fast track the process of replication.</li>
                        </ul></p>
                        <p><strong>More than just the event.</strong> We will continue to follow up with throughout the year with originators and adopters and continue to link them with relevant partners and support replication.</p>
                        <p>We are looking for adopters! <strong><a href="#apply">Apply now.</a></strong></p>
                    </div>
                    
                    <div class="row alt-features-grid">
                        
                        <!-- Features Item -->
                        <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.1s">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon color">
                                    <a href="#originators"></a><span class="icon-lightbulb"></span>
                                </div>
                                <h3 class="alt-features-title"><a href="#originators">The Originators</a></h3>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.2s">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon color">
                                    <a href="#call-to-action"><span class="icon-genius"></span></a>
                                </div>
                                <h3 class="alt-features-title"><a href="#call-to-action">Be an Adopter</a></h3>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                        <!-- Features Item -->
                        <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.3s">
                            <div class="alt-features-item align-center">
                                <div class="alt-features-icon color">
                                    <a href="#event"><span class="icon-calendar"></span></a>
                                </div>
                                <h3 class="alt-features-title"><a href="#contact">About the Event</a></h3>
                            </div>
                        </div>
                        <!-- End Features Item -->
                        
                    </div>
                    
                </div>
                
            </div>
            <!-- End Section Content -->
            
        </div>
    </section>
    <!-- End Promo Section -->
    
    
    <!-- Originators Section -->
    <section class="page-section" id="originators">
        <div class="container relative">
            
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2 align-center">
                    
                    <!-- Section Titles -->
                    <h1 class="section-title mb-10">
                        Proven models from around the world
                    </h1>
                    <h2 class="section-heading">
                        Who you'll meet
                    </h2>
                    <!-- End Section Titles -->
                    
                    <div class="section-line mb-50 mb-xs-30"></div>
                    
                    <!-- Section Text -->
                    <div class="section-text mb-80 mb-xs-50">
                        The originators are inclusive businesses that are operational, profitable, and have demonstrable social and economic impact. They seek potential partners and collaborators to replicate their model in Latin America. 
                    </div>
                    <!-- End Section Text -->
                    
                </div>
            </div>
            
            
            <!-- Team Grid -->
            <div class="row multi-columns-row">

                <!-- Jain -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-30 wow fadeInUp">
                    <div class="team-item">
                        
                        <div class="team-item-image" data-url="originators/2">
                            
                            <img src="jain/jain.jpg" alt="Jain Irrigation" />
                            
                            <div class="team-item-detail">
                                
                                <h4 class="team-item-h">Jain Irrigation</h4>
                                
                                <p>
                                    <strong> Dr. Dilip N. Kulkarni</strong><br>President, Agri-Food Division</p><p><em>From micro-irrigation systems to an integrated farming system</em>
                                </p>
                                
                                <div class="team-social-links">
                                    <a href="originators/3" target="_blank"><i class="fa fa-plus-circle"></i></a>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="team-item-descr">
                            
                            <div class="team-item-name">
                                <a href="/originators/3">Jain Irrigation</a>
                            </div>
                            
                            <div class="team-item-role">
                                Jain Irrigations Systems (JISL) provides smallholder farmers with an integrated farming system with a focus on micro-irrigation systems (MIS). They help farmers to achieve annual yield increases between 60%–130%, and income increases between $500-$6,000 per farm.
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <!-- End Jain -->
                
                <!-- eKutir -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-30 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="team-item-image" data-url="originators/1">
                            
                            <img src="ekutir/ekutir-photo.jpg" alt="eKutir">
                            
                            <div class="team-item-detail">
                                
                                <h4 class="team-item-h">eKutir</h4>
                                
                                <p>
                                    <strong> KC Mishra</strong><br>Founder of eKutir</p><p><em>Global Micro-Irrigation leader</em>

                                </p>
                                
                                <div class="team-social-links">
                                    <a href="originators/1" target="_blank"><i class="fa fa-plus-circle"></i></a>
                                </div>
                                
                            </div>
                        </div>
                        <div class="team-item-descr">
                            
                            <div class="team-item-name">
                                <a href="originators/1">eKutir</a>
                            </div>
                            
                            <div class="team-item-role">
                                Currently eKutir reaches around 70,000 marginalized farmers with major impacts on income, nutrition and sanitation of farmers. Farmers earn at least 200 USD per month by working with eKutir to increase yields and reduce costs.
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <!-- End eKutir -->

                <!-- Ross Clinics -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-sm-30 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-item">
                        
                        <div class="team-item-image" data-url="originators/3">
                            
                            <a href="/originators/2">
                                <img src="ross/rossclinics.jpg" alt="Ross Clinics" />
                            </a>
                            
                            <div class="team-item-detail">
                                
                                <h4 class="team-item-h">Ross Clinics</h4>
                                
                                <p><strong> Dr. Devashish Saini</strong><br>Founder of Ross Clinics</p><p><em>Reviving the family physician model for all socio-economic levels in India</em></p>
                                
                                <div class="team-social-links">
                                    <a href="originators/2" target="_blank"><i class="fa fa-plus-circle"></i></a>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="team-item-descr">
                            
                            <div class="team-item-name">
                                <a href="originators/2">Ross Clinics</a> 
                            </div>
                            
                            <div class="team-item-role">
                                Ross Clinics is bringing back the family physician model to India. The small clinics provide primary care to families at all levels of the socio-economic spectrum. 90% of their clients are low or middle income.
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <!-- End Ross Clinics -->
                
                
            </div>
            <!-- End Team Grid -->
            
        </div>
    </section>
    <!-- End About Section -->
    
    
    <!-- Call Action Section -->
    <section class="page-section bg-dark-alfa-90 bg-scroll call-to-action" id="call-to-action">
        <div class="container relative">
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2 align-center">
                    
                    <h1 class="section-title large">Interested?</h1>
                    
                    <h2 class="section-heading uppercase strong">Apply to be an adopter</h2>
                    
                    <div class="section-text white mb-50 mb-xs-30">
                    <p>Meet and Multiply is an exclusive invitation only event. We are accepting applications from entrepreneurs and organizations who are interested in attending as adopters of one of the business models outlined here.</p>
                    <p><ul style="list-style: none;">
                        <li><i class="fa fa-check"></i> View the detailed profile of the model that interests you</li>
                        <li><i class="fa fa-check"></i> Check if you match the adopter profile for the model</li>
                        <li><i class="fa fa-check"></i> If you do, apply early!</li>
                    </ul></p>
                    <p>The deadline to apply is June 12. However, there are only 10 seats available per model and applications are approved on a rolling basis so <strong>apply early to avoid disappointment!</strong></p>
                    </div>
                    
                    <div class="local-scroll">
                        <a href="#originators" class="btn btn-mod btn-w btn-large">Learn more</a>
                        <span class="hidden-xs">&nbsp;</span>
                        <a href="#apply" class="btn btn-mod btn-large btn-color" target="_blank">Apply</a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
    <!-- End Call Action Section -->
    
    <!-- Partners Section -->
    <section class="page-section" id="partners">
        <div class="container relative">
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2 align-center">
                    
                    <!-- Section Titles -->
                    <h1 class="section-title mb-10">
                        Meet & Multiply is a team effort
                    </h1>
                    <h2 class="section-heading">
                        Partners
                    </h2>
                    <!-- End Section Titles -->
                    
                    <div class="section-line mb-50 mb-xs-30"></div>
                    
                    <!-- Section Text -->
                    <div class="section-text mb-80 mb-xs-50">
                        Meet & Multiply is backed by various partner organizations. The event itself takes place at the IDB's Base Forum, a conference that brings together leaders in the area of market solutions targeting the base of the pyramid in Latin America and the Caribbean.
                    </div>
                    <!-- End Section Text -->
                    
                </div>
            </div>
            
            
            <!-- Services Grid -->
            <div class="row multi-columns-row service-grid">
                
                <!-- Service Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon logos">
                            <img src="logos/endeva.png" alt="Endeva">
                        </div>
                        <h3 class="service-title">Endeva</h3>
                        Experts in accelerating inclusive business innovations.
                    </div>
                </div>
                <!-- End Service Item -->
                
                <!-- Service Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon logos">
                            <img src="logos/idb.gif" alt="IDB">
                        </div>
                        <h3 class="service-title">IDB</h3>
                        The IDB is the main source of multilateral financing in Latin America. It provides solutions to development challenges and support in the key areas of the region.
                    </div>
                </div>
                <!-- End Service Item -->
                
                <!-- Service Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon logos">
                            <img src="logos/iban.png" alt="IBAN">
                        </div>
                        <h3 class="service-title">IBAN</h3>
                        The Inclusive Business Action Network creates a vibrant and dynamic global pivotal point for the global inclusive business community. 
                    </div>
                </div>
                <!-- End Service Item -->
                
                <!-- Service Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon logos">
                            <img src="logos/bopinc.png" alt="BoP Innovation Center">
                        </div>
                        <h3 class="service-title">BoP Innovation Center</h3>
                        The BoP Innovation Center provides services and tools to develop, learn about and accelerate inclusive businesses in BoP markets. 
                    </div>
                </div>
                <!-- End Service Item -->
                
                <!-- Service Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon logos">
                            <img src="logos/snv_logo.png" alt="SNV">
                        </div>
                        <h3 class="service-title">SNV</h3>
                        SNV Netherlands Development Organisation is a non-profit, international development organisation, established in the Netherlands in 1965.
                    </div>
                </div>
                <!-- End Service Item -->
                
                <!-- Service Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon logos">
                            <img src="logos/adb.png" alt="ADB">
                        </div>
                        <h3 class="service-title">ADB</h3>
                        Since its founding in 1966, ADB has been driven by an inspiration and dedication to improving people’s lives in Asia and the Pacific.
                    </div>
                </div>
                <!-- End Service Item -->
                
                <!-- Service Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon logos">
                            <img src="logos/connovo.png" alt="Connovo">
                        </div>
                        <h3 class="service-title">Connovo</h3>
                        Connovo is a social business builder. We scale the impact of successful social businesses through a unique replication process.
                    </div>
                </div>
                <!-- End Service Item -->


                <!-- Service Item -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="service-item">
                        <div class="service-icon logos">
                            <img src="logos/r4d.jpg" alt="R4D">
                        </div>
                        <h3 class="service-title">Results for Development</h3>
                        Results for Development Institute (R4D) is a non-profit organization whose mission is to unlock solutions to tough development challenges that prevent people in low- and middle-income countries from realizing their full potential.
                    </div>
                </div>
                <!-- End Service Item -->
                
            </div>
            <!-- End Services Grid -->
            
            
    
            <!-- Promo Image
            <div class="section-bot-image wow fadeInUp">
                <img src="promo-5.png" alt="" />
            </div>
            End Promo Image -->
            
        </div>
    </section>
    <!-- End Services Section -->
    
    
    <!-- Blog Section -->
    <section class="page-section" id="news">
        <div class="container relative">
            
            <div class="align-left">
                
                <!-- Section Titles -->
                <h1 class="section-title mb-10">
                    More about our work
                
                </h1>
                <h2 class="section-heading">
                    Publications and Articles
                    
                    <a href="blog-classic-sidebar-right.html" class="section-more right mt-20"> See more publications <i class="fa fa-angle-right"></i></a>
                    
                </h2>
                <!-- End Section Titles -->
                
                <div class="clearfix">
                    <div class="section-line left mt-0 mb-80 mb-xs-40"></div>
                </div>
                
            </div>

            
            <div class="row multi-columns-row">
                
                <!-- Post Item -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">
                    
                    <div class="post-prev-img post-prev-border">
                        <a href="http://www.endeva.org/fileadmin/user_upload/publications/Replication/end-FoVo-C-Rep-Screen.pdf" target="blank"><img src="endevareport.png" alt="Multiplying Impact" /></a>
                    </div>
                    
                    <div class="post-prev-title">
                        <a href="http://www.endeva.org/fileadmin/user_upload/publications/Replication/end-FoVo-C-Rep-Screen.pdf" target="blank">Multiplying Impact: Supporting the Replication of Inclusive Business Models</a>
                    </div>
                    
                    <div class="post-prev-info">
                        <a href="http://www.endeva.org/">Endeva</a> | 2015
                    </div>
                    
                    <div class="post-prev-text">
                        Providing 12 actionable recommendations, this report shows how a variety of actors can support companies in identifying, replicating and ultimately growing successful inclusive business models.  
                    </div>
                    
                    <div class="post-prev-more">
                        <a href="http://www.endeva.org/fileadmin/user_upload/publications/Replication/end-FoVo-C-Rep-Screen.pdf" class="btn btn-mod btn-color" target="blank">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                    
                </div>
                <!-- End Post Item -->
                
                <!-- Post Item -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
                    
                    <div class="post-prev-img post-prev-border">
                        <a href="http://bopinc.org/updates/publication/access-to-food-and-nutrition-at-the-bop"><img src="bop-report.jpg" alt="BOP report" /></a>
                    </div>
                    
                    <div class="post-prev-title">
                        <a href="http://bopinc.org/updates/publication/access-to-food-and-nutrition-at-the-bop">Access to Food and Nutrition at the BoP</a>
                    </div>
                    
                    <div class="post-prev-info">
                        <a href="http://bopinc.org/">BoP Innovation Center</a> | 2015
                    </div>
                    
                    <div class="post-prev-text">
                        Five business interventions to achieve social impact, financial sustainability and scale. The interventions will ultimately contribute to improving the availability of and access to nutritious food and food products.
                    </div>
                    
                    <div class="post-prev-more">
                        <a href="http://bopinc.org/updates/publication/access-to-food-and-nutrition-at-the-bop" target="blank" class="btn btn-mod btn-color">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                    
                </div>
                <!-- End Post Item -->
                
                <!-- Post Item -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.3s" data-wow-duration="2s">
                    
                    <div class="post-prev-img post-prev-border">
                        <a href="https://www.ib-action-network.net/fileadmin/Daten/ib_knowledge/Publications/Beyond_the_Pioneer-Getting_Inclusive_Industries_to_Scale-full%20report.pdf"><img src="iban-report.jpg" alt="IBAN report" /></a>
                    </div>
                    
                    <div class="post-prev-title">
                        <a href="https://www.ib-action-network.net/fileadmin/Daten/ib_knowledge/Publications/Beyond_the_Pioneer-Getting_Inclusive_Industries_to_Scale-full%20report.pdf">Beyond the Pioneer: Getting Inclusive Industries to Scale</a>
                    </div>
                    
                    <div class="post-prev-info">
                        <a href="https://www.ib-action-network.net/home.html">IBAN</a> | April 2014
                    </div>
                    
                    <div class="post-prev-text">
                        In this report, we take a close look at the challenge of scaling. Why aren’t more market-based solution models scaling? What barriers do they face? Where market-based solutions have achieved scale, how has this been achieved?  
                    </div>
                    
                    <div class="post-prev-more">
                        <a href="https://www.ib-action-network.net/fileadmin/Daten/ib_knowledge/Publications/Beyond_the_Pioneer-Getting_Inclusive_Industries_to_Scale-full%20report.pdf" class="btn btn-mod btn-color">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                    
                </div>
                <!-- End Post Item -->
                
            </div>
            
        </div>
    </section>
    <!-- End Blog Section -->
     
    <!-- Call Action Section -->
    <section class="small-section bg-color-alfa-90 bg-scroll call-to-action" data-background="full-width-images/section-bg-4.jpg" id="contact-us">
        <div class="container relative">
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2 align-center">
                    
                    <h1 class="section-title large">Questions about the event?</h1>
                    
                    <h2 class="section-heading uppercase strong">Feel free to contact us</h2>
                    
                    <div class="local-scroll">
                        <a href="mailto:t.pasipanodya@endeva.org" class="btn btn-mod btn-border-w btn-large">Contact us</a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
    <!-- End Call Action Section -->
    
    <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container relative">
            
            <div class="row mb-80 mb-xs-50">
                <div class="col-md-8 col-md-offset-2 align-center">
                    
                    <!-- Section Titles -->
                    <h1 class="section-title mb-10">
                        Event information
                    </h1>
                    <h2 class="section-heading">
                        Meet & Multiply
                    </h2>
                    <!-- End Section Titles -->
                    
                    <div class="section-line mb-50 mb-xs-30"></div>
                    
                    <!-- Section Text -->
                    <div class="section-text">
                        Meet & Multiply is a side event taking place at the <a href="http://www.forobase2015.com/" target="blank">IDB's Base Forum</a> in Mexico City. The Meet and Multiply event is by invitation only. Adopters should apply to attend and relevant ecosystem partners should contact us directly. The Base Forum is open to all participants. Please visit the website to attend the main Forum. 
                    </div>
                    <!-- End Section Text -->
                    
                </div>
            </div>
            
            
            <!-- Contact Information -->
            <div class="row multi-columns-row alt-features-grid-1">
                
                <!-- Contact Item-->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item-1 align-center">
                        <div class="alt-features-icon-1">
                            <i class="fa fa-calendar-o"></i>
                        </div>
                        <h3 class="alt-features-title-1">Date</h3>
                        <div class="alt-features-descr-1">
                            June 29, 2015
                        </div>
                    </div>
                </div>
                <!-- End Contact Item -->
                
                <!-- Contact Item-->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item-1 align-center">
                        <div class="alt-features-icon-1">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <h3 class="alt-features-title-1">Location</h3>
                        <div class="alt-features-descr-1 email-link">
                            <a href="https://www.google.es/maps/place/Centro+Banamex,+Puerta+1,+Lomas+de+Sotelo,+11200+Ciudad+de+M%C3%A9xico,+D.F.,+Mexico/@19.4398545,-99.2243073,15z/data=!4m2!3m1!1s0x85d2022fe7df043d:0xa5ca82b410bf9d12?hl=en" target="blank">Centro Banamex, Mexico City</a>
                        </div>
                    </div>
                </div>
                <!-- End Contact Item -->
                
                <!-- Contact Item-->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="alt-features-item-1 align-center">
                        <div class="alt-features-icon-1">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <h3 class="alt-features-title-1">Contact</h3>
                        <div class="alt-features-descr-1 email-link">
                            <a href="#">t.pasipanodya@endeva.org</a>
                        </div>
                    </div>
                </div>
                <!-- End Contact Item -->
            
            </div>
            <!-- End Contact Information -->
        
            
            
        </div>
    </section>
    <!-- End Contact Section -->
    
    
    
    <!-- Feedback Form Section -->
    <section class="page-section" id="apply">
        <div class="container relative">
            
            <div class="row">
                <div class="col-md-8 col-md-offset-2 align-center">
                    
                    <!-- Section Titles -->
                    <h1 class="section-title large">Be an adopter</h1>
                    <h2 class="section-heading mb-40">Apply now</h2>
                    <div class="section-text"><p>The deadline to apply is June 12. However, there are only 10 seats available per model and applications are approved on a rolling basis so apply early to avoid disappointment!</p><br></div>
                    <!-- End Section Titles -->
                    
                </div>
            </div>                    
            
            <!-- Contact Form -->                            
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    
                    <form accept-charset="UTF-8" action="/applicants" method="post"class="form contact-form" id="contact_form" autocomplete="off">
                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                        <div class="clearfix">
                            
                            <div class="cf-left-col">

                                <!-- First Name -->
                                <div class="form-group">
                                    <input type="text" name="applicant[firstname]" id="first-name" class="input-lg form-control" placeholder="First name" pattern=".{3,100}" required>
                                </div>

                                <!-- Last Name -->
                                <div class="form-group">
                                    <input type="text" name="applicant[lastname]" id="last-name" class="input-lg form-control" placeholder="Last name" pattern=".{3,100}" required>
                                </div>
                                
                                <!-- Email -->
                                <div class="form-group">
                                    <input type="text" name="applicant[email]" id="email" class="input-lg form-control" placeholder="Email" pattern=".{5,100}" >
                                </div>

                                <!-- Company -->
                                <div class="form-group">
                                    <input type="text" name="applicant[company]" id="company" class="input-lg form-control" placeholder="Company" pattern=".{3,100}" required>
                                </div>
                                
                            </div>
                            
                            <div class="cf-right-col">
                                
                                <!-- Interest -->
                                <div class="form-group">                                            
                                    <textarea name="applicant[interest]" id="interest" class="input-lg form-control" style="height: 120px;" placeholder="Why are you interested in becoming an adopter?"></textarea>
                                </div>

                                <!-- About -->
                                <div class="form-group">                                            
                                    <textarea name="applicant[activities]" id="activities" class="input-lg form-control" style="height: 120px;" placeholder="What are your company's main activities?"></textarea>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                        <div class="clearfix">
                            
                            <div class="cf-left-col">
                                
                                <!-- Inform Tip -->                                        
                                <div class="form-tip pt-20">
                                    <i class="fa fa-info-circle"></i> All the fields are required
                                </div>
                                
                            </div>
                            
                            <div class="cf-right-col">
                                
                                <!-- Send Button -->
                                <div class="align-right pt-10">
                                    <button class="submit_btn btn btn-mod btn-color btn-large" id="submit_btn">Apply</button>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                        
                        <div id="result"></div>
                    </form>
                    
                </div>
            </div>
            <!-- End Contact Form -->
            
        </div>
    </section>
    <!-- End Feedback Form Section -->
    
    
    <!-- Foter -->
    <footer class="small-section bg-dark footer pb-60">
        <div class="container">
            
            <!-- Social Links -->
            <div class="footer-social-links mb-60 mb-xs-40">
                <a href="https://www.facebook.com/pages/Endeva/234763126582163" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/_Endeva" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/grp/home?gid=4143187" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <!-- End Social Links -->  
            
            <!-- Footer Text -->
            <div class="footer-text">
                
                <!-- Copyright -->
                <div class="footer-copy">
                    <a href="http://www.endeva.org" target="_blank">&copy; Endeva 2015</a>
                </div>
                <!-- End Copyright -->
                
                <div class="footer-made">
                    <a href="http://www.endeva.org">www.endeva.org</a>
                </div>
                
            </div>
            <!-- End Footer Text --> 
            
         </div>
         
         
         <!-- Top Link -->
         <div class="local-scroll">
             <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
         </div>
         <!-- End Top Link -->
         
    </footer>
    <!-- End Foter -->


</div>
<!-- End Page Wrap -->
