// Place all the styles related to the applicants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.all-applicants * {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #D1D5D7;
}